In [ ]:
import pandas as pd
import numpy as np
from sklearn. import OneHotEncoder

In [42]:
df = pd.read_csv('./Dataset/complete_dataset.csv')

In [43]:
df.shape

(302563, 14)

In [44]:
df = df.drop_duplicates()

In [45]:
df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.0,15674932.0,Okwudilichukwu,668.0,France,Male,33.0,3.0,0.00,2.0,1.0,0.0,181449.97,0.0
1,1.0,15749177.0,Okwudiliolisa,627.0,France,Male,33.0,1.0,0.00,2.0,1.0,1.0,49503.50,0.0
2,2.0,15694510.0,Hsueh,678.0,France,Male,40.0,10.0,0.00,2.0,1.0,0.0,184866.69,0.0
3,3.0,15741417.0,Kao,581.0,France,Male,34.0,2.0,148882.54,1.0,1.0,1.0,84560.88,0.0
4,4.0,15766172.0,Chiemenam,716.0,Spain,Male,33.0,5.0,0.00,2.0,1.0,1.0,15068.83,0.0

In [46]:
df.shape

(275058, 14)

In [47]:
def fill_missing_values(df):
    for col in df.select_dtypes(include=['float64', 'int64']).columns:
        if col in ["Exited", "NumOfProducts", "HasCrCard", "IsActiveMember"]:
            continue
        df[col].fillna(df[col].mean(), inplace=True)
    for col in df.select_dtypes(include=['object']).columns:
        df[col].fillna(df[col].mode()[0], inplace=True)
    for col in ["Exited", "NumOfProducts", "HasCrCard", "IsActiveMember"]:
        df[col].fillna(df[col].mode()[0], inplace=True)
    return df
            
fill_missing_values(df)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.0,1.567493e+07,Okwudilichukwu,668.000000,France,Male,33.000000,3.000000,0.00000,2.0,1.0,0.0,181449.970000,0.0
1,1.0,1.574918e+07,Okwudiliolisa,627.000000,France,Male,33.000000,1.000000,0.00000,2.0,1.0,1.0,49503.500000,0.0
2,2.0,1.569451e+07,Hsueh,678.000000,France,Male,40.000000,10.000000,0.00000,2.0,1.0,0.0,184866.690000,0.0
3,3.0,1.574142e+07,Kao,581.000000,France,Male,34.000000,2.000000,148882.54000,1.0,1.0,1.0,84560.880000,0.0
4,4.0,1.576617e+07,Chiemenam,716.000000,Spain,Male,33.000000,5.000000,0.00000,2.0,1.0,1.0,15068.830000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275053,275053.0,1.577413e+07,Cox,575.000000,France,Female,36.000000,4.000000,178032.53000,1.0,1.0,1.0,42181.680000,0.0
275054,275054.0,1.572846e+07,Ch'iu,712.000000,France,Male,31.000000,2.000000,0.00000,2.0,1.0,0.0,16287.380000,0.0
275055,275055.0,1.568754e+07,Yegorova,709.000000,France,Female,32.000000,3.000000,0.00000,1.0,1.0,1.0,158816.580000,0.0
275056,275056.0,1.566394e+07,Tuan,621.000000,France,Female,37.000000,7.000000,87848.39000,1.0,1.0,0.0,24210.560000,0.0
275063,137528.0,1.569204e+07,Hsia,656.484939,France,Male,38.124415,5.010867,55420.29645,2.0,1.0,0.0,112470.952558,0.0

In [48]:
df.shape

(275058, 14)

In [49]:
num_col = ['CreditScore', 'Age', 'Tenure', 'Balance', 'EstimatedSalary']

In [50]:
outliers_idx = set()
outlier_cols = []

In [51]:
def remove_outliers(df):
    for column in num_col:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
        if outliers.size != 0:
            outliers_idx.update(outliers.index.tolist())
            outlier_cols.append(column)
            print(f"No of outliers in {column} is {outliers.shape[0]}")

In [52]:
remove_outliers(df)

No of outliers in CreditScore is 429
No of outliers in Age is 10640

In [53]:
if outliers_idx:
    df = df.drop(outliers_idx)
    print(f"Dropped {len(outliers_idx)} outlier rows.")
else:
    print("No outliers found.")
df.reset_index(drop=True, inplace=True)

Dropped 11048 outlier rows.

In [54]:
df.shape

(264010, 14)

In [55]:
df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.0,15674932.0,Okwudilichukwu,668.0,France,Male,33.0,3.0,0.00,2.0,1.0,0.0,181449.97,0.0
1,1.0,15749177.0,Okwudiliolisa,627.0,France,Male,33.0,1.0,0.00,2.0,1.0,1.0,49503.50,0.0
2,2.0,15694510.0,Hsueh,678.0,France,Male,40.0,10.0,0.00,2.0,1.0,0.0,184866.69,0.0
3,3.0,15741417.0,Kao,581.0,France,Male,34.0,2.0,148882.54,1.0,1.0,1.0,84560.88,0.0
4,4.0,15766172.0,Chiemenam,716.0,Spain,Male,33.0,5.0,0.00,2.0,1.0,1.0,15068.83,0.0

In [56]:
df.drop(['id', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [57]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,668.0,France,Male,33.0,3.0,0.00,2.0,1.0,0.0,181449.97,0.0
1,627.0,France,Male,33.0,1.0,0.00,2.0,1.0,1.0,49503.50,0.0
2,678.0,France,Male,40.0,10.0,0.00,2.0,1.0,0.0,184866.69,0.0
3,581.0,France,Male,34.0,2.0,148882.54,1.0,1.0,1.0,84560.88,0.0
4,716.0,Spain,Male,33.0,5.0,0.00,2.0,1.0,1.0,15068.83,0.0

In [58]:
df.to_csv('./Dataset/processed_dataset.csv', index=False)

In [59]:
df.shape

(264010, 11)